/*
Esto es un comentario

SELECTOR {
    propiedad: valor;
}


*/

@import url(movies.css);

* {
   background-color: black;
   color: white;
   margin-top: 0px;
   margin-left: 0px;
}

a {
    background-color: blue;
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

a:hover {
    background-color: red;
}

header {
    background-color: yellow;
    color: black;
}

/* Siempre hay que revisar si necesitamos agrupar selectores*/
.inicio, .registro  {
    background-color: aqua;
}

/*element.class element*/
form.registro fieldset {
    background-color: aqua;
}

/*body > form > fieldset {
    background-color: aqua;
}*/

input[required] {
    background-color: red;
}

/*~*/
footer {
    position: fixed;
    bottom: 0%;
    /*bottom: 10vh;*/
    background-color: gray !important; /* */
    /*font-size: 0vh;*/
    font-family: 'ZCOOL KuaiLe', cursive;
    /*
    vw : el ancho del viewport
    vh: el alto del viewport
    */
}

/* Lo usamos con class en los atributos de HTML*/
.Botoncito {
    background-color: red;
}


img {
    border-style: dotted;
    padding-top: 10px;
    margin-bottom: 20px;
}

.classIMG {
    border-style: none;
}

/*
a > img {
     border-style: none;
}
*/

/*td img {
    border-style: none;
}*/

/*a + img {
    border-style: none;
}*/

td > a img {
   border-style: none;
   transform: skewY(-20deg) /* Transform 2D*/
}

tr > td > a::after {
    content: "🚧";
}


/* Este afecta a todos por no haber agregado un selector al comienzo*/
::selection {
    color: red;
    background: yellow;
}

table > tbody > tr:nth-child(n) > td:nth-child(even)  {
    font-size: xx-large;
}

table > tbody > tr:nth-child(2) > td:nth-child(1) > img {
    border-style: double;
}


/**************************************************/
/*             Aca van los ID                    */
/**************************************************/

/* Lo usamos con ID en los atributos de HTML*/
#login001 {
    background-color: blueviolet;
}

/**************************************************/
/*            Animaciones                         */
/**************************************************/
@keyframes changeColor {
    from {
        background-color: aqua;
        
    }
    to { 
        background-color: brown;
       
    }
}

/**************************************************/
/*            header                         */
/**************************************************/
.notflix_header {
    display: none;
   
}

/* 
A partir de una pantalla de 600 px voy a setear estas propiedaes
*/
@media only screen and (min-width: 600px) {

    /* Ahora modifico las propiedad de cada class dentro del media query*/
    .notflix_header {
        display: flex;
        flex-direction: column;
    }
}